<div class="min-h-screen bg-background-light dark:bg-background-dark text-text-light dark:text-text-dark flex flex-col items-center px-3 py-16 gap-10">
  <app-logo></app-logo>

  <div class="w-96 max-w-full bg-white dark:bg-slate-800 px-5 py-4 rounded-2xl shadow-xl">
    <h1 class="text-2xl font-bold text-primary mb-6">Iniciar Sesión</h1>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-4">
      <ion-item class="ion-item-custom">
        <ion-label position="floating" class="text-sm">Correo electrónico</ion-label>
        <ion-input
          aria-label="Correo electrónico"
          type="email"
          formControlName="email"
          class="ion-input-custom w-full text-text-light dark:text-white"
        ></ion-input>
      </ion-item>
      <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-xs text-red-500">Email inválido</div>

      <ion-item class="ion-item-custom">
        <ion-label position="floating" class="text-sm">Contraseña</ion-label>
        <ion-input
          aria-label="Contraseña"
          type="password"
          formControlName="password"
          class="ion-input-custom w-full text-text-light dark:text-white"
        ></ion-input>
      </ion-item>
      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-xs text-red-500">Campo requerido</div>

      <ion-button
        expand="block"
        type="submit"
        aria-label="Iniciar sesión"
        [disabled]="loginForm.invalid"
        class="ion-button-custom mt-4"
      >
        Entrar
      </ion-button>

      <div class="text-sm text-center text-text-muted mt-4">
        ¿No tienes cuenta?
        <a [routerLink]="['/signup']" class="underline text-primary">Regístrate</a>
      </div>

      <div class="mt-6 text-center text-sm text-text-muted">
        <a [routerLink]="['/home']" class="underline hover:text-primary transition">
          ← Volver al inicio
        </a>
      </div>
    </form>
  </div>
</div>
