<div class="min-h-screen bg-background-light dark:bg-background-dark text-text-light dark:text-text-dark flex flex-col px-6 py-6 justify-center items-center">
  <div class="flex justify-start">
    <app-logo class="mt-6"></app-logo>
  </div>

  <div class="w-full max-w-md bg-white dark:bg-slate-800 p-8 rounded-2xl shadow-xl space-y-6 mt-8">
    <h2 class="text-2xl font-bold text-primary dark:text-primary-light">Perfil</h2>

    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="space-y-4">
      <ion-item class="rounded-lg dark:bg-slate-700">
        <ion-label position="floating" class="text-sm">Nombre</ion-label>
        <ion-input type="text" formControlName="nombre" class="ion-input-custom w-full text-text-light dark:text-white"></ion-input>
      </ion-item>
      <div *ngIf="profileForm.get('nombre')?.invalid && profileForm.get('nombre')?.touched" class="text-xs text-red-500">Campo requerido</div>

      <ion-item class="rounded-lg dark:bg-slate-700">
        <ion-label position="floating" class="text-sm">RUT</ion-label>
        <ion-input type="text" formControlName="rut" class="ion-input-custom w-full text-text-light dark:text-white"></ion-input>
      </ion-item>
      <div *ngIf="profileForm.get('rut')?.invalid && profileForm.get('rut')?.touched" class="text-xs text-red-500">Campo requerido</div>

      <ion-item class="rounded-lg dark:bg-slate-700">
        <ion-label position="floating" class="text-sm">Colegio</ion-label>
        <ion-input type="text" formControlName="colegio" class="ion-input-custom w-full text-text-light dark:text-white"></ion-input>
      </ion-item>
      <div *ngIf="profileForm.get('colegio')?.invalid && profileForm.get('colegio')?.touched" class="text-xs text-red-500">Campo requerido</div>

      <ion-item class="rounded-lg dark:bg-slate-700">
        <ion-label position="floating" class="text-sm">Comuna</ion-label>
        <ion-input type="text" formControlName="comuna" class="ion-input-custom w-full text-text-light dark:text-white"></ion-input>
      </ion-item>
      <div *ngIf="profileForm.get('comuna')?.invalid && profileForm.get('comuna')?.touched" class="text-xs text-red-500">Campo requerido</div>

      <ion-item class="rounded-lg dark:bg-slate-700">
        <ion-label position="floating" class="text-sm">Región</ion-label>
        <ion-input type="text" formControlName="region" class="ion-input-custom w-full text-text-light dark:text-white"></ion-input>
      </ion-item>
      <div *ngIf="profileForm.get('region')?.invalid && profileForm.get('region')?.touched" class="text-xs text-red-500">Campo requerido</div>

      <div *ngIf="errorMsg" class="text-red-500 text-sm text-center">{{ errorMsg }}</div>

      <ion-button expand="block" type="submit" [disabled]="profileForm.invalid || loading" class="ion-button-custom mt-4">
        {{ loading ? 'Guardando...' : 'Confirmar' }}
      </ion-button>
    </form>
  </div>
</div>