<div class="min-h-screen bg-background-light dark:bg-background-dark text-text-light dark:text-text-dark flex flex-col px-6 py-6 justify-center items-center">
  <div class="flex justify-start">
    <app-logo class="mt-6"></app-logo>
  </div>

  <div class="w-full max-w-md bg-white dark:bg-slate-800 p-8 rounded-2xl shadow-xl space-y-6 mt-8">
    <h2 class="text-2xl font-bold text-primary dark:text-primary-light">Perfil</h2>

    <form class="space-y-4">
      <ion-item class="rounded-lg dark:bg-slate-700">
        <ion-label position="floating" class="text-sm">Nombre</ion-label>
        <ion-input type="text" class="w-full text-text-light dark:text-white"></ion-input>
      </ion-item>

      <ion-item class="rounded-lg dark:bg-slate-700">
        <ion-label position="floating" class="text-sm">Rut</ion-label>
        <ion-input type="text" class="w-full text-text-light dark:text-white"></ion-input>
      </ion-item>

      <ion-item class="rounded-lg dark:bg-slate-700">
        <ion-label position="floating" class="text-sm">Colegio</ion-label>
        <ion-input type="text" class="w-full text-text-light dark:text-white"></ion-input>
      </ion-item>

      <ion-item class="rounded-lg dark:bg-slate-700">
        <ion-label position="floating" class="text-sm">Comuna</ion-label>
        <ion-input type="text" class="w-full text-text-light dark:text-white"></ion-input>
      </ion-item>

      <ion-item class="rounded-lg dark:bg-slate-700">
        <ion-label position="floating" class="text-sm">Región</ion-label>
        <ion-input type="text" class="w-full text-text-light dark:text-white"></ion-input>
      </ion-item>

      <ion-button expand="block" type="submit" color="primary" class="mt-4">
        Confirmar
      </ion-button>
    </form>
  </div>
</div>